    <div class="theme-toggle" id="themeToggle" title="Toggle dark mode"
        style="position: fixed !important; top: 20px !important; right: 40px !important; z-index: 1000 !important;"></div>
    <header role="banner" onclick="window.location.href='/'" style="cursor:pointer;">
        <h1 class="fredericka-the-great-medium">IP Cow</h1>
        <h2 class="fredericka-the-great-regular">
            <img src="https://assets.ipcow.com/favicon/apple-touch-icon.png" width="28px" height="28px" alt="Cow Head">
            30-Year Anniversary — Est. 1995
            <img src="https://assets.ipcow.com/favicon/cow.png" width="38px" height="38px" alt="Cow">
        </h2>
    </header>