---
layout: compress
---

<!DOCTYPE html>
<html lang="en">

<head>
    {% include head.html %}
    <title>{{ page.title | default: site.title }} - {{ site.title }}</title>
</head>

<body>
    {% include header.html %}

    <div class="wrapper" role="main">
        {{ content }}
        <ins class="adsbygoogle"
            style="display:block"
            data-ad-client="ca-pub-2167883673580425"
            data-ad-slot="7744850301"
            data-ad-format="auto"
            data-full-width-responsive="true"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>        
    </div>

    {% include footer.html %}

    {% if page.extra_scripts %}
        {% for script in page.extra_scripts %}
            <script src="{{ script }}"></script>
        {% endfor %}
    {% endif %}
</body>

</html>